	.demo-layout-transparent{
				background:url('../images/index.jpg');
				background-size:cover;
	}
	.demo-layout-transparent .mdl-layout__header,
	.demo-layout-transparent .mdl-layout__drawer-button {
		color: white;
	}
	.title{
		padding-left:30px;
	}
	.mybutton{
		color:white;
	}

	.resultItem{
		cursor:pointer;
	}
	.resultButton{
		margin:0px;
		border-radius:0px;
	}
	.resultImage{
		background:white;
		text-align:center;
		margin:0px;
	}
	.resultDetails{
		text-align:center;
		background:#3F51B5;
		color:white;
		margin:0px;
	}
	body{
		background:#F2F2F2;
	}
	#files{
		display:none;
	}