	.demo-layout-transparent{
				background:url('../images/index.jpg');
				background-size:cover;
	}
	.demo-layout-transparent .mdl-layout__header,
	.demo-layout-transparent .mdl-layout__drawer-button {
		color: white;
	}
	.title{
		padding-left:30px;
	}
	.mybutton{
		color:white;
	}

	.resultItem{
		cursor:pointer;
		background-color:#3F51B5;
		z-index:1;
		box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.resultButton{
		margin:0px;
		border-radius:0px;
		background:white;
		text:black;
	}
	.resultImage{
		// background:#3F51B5;
		text-align:center;
		margin:0px;
	}
	.resultDetails{
		text-align:center;
		// background:#3F51B5;
		color:white;
		margin:0px;
	}
	body{
		background:#f2f2f2;
	}
	#files{
		display:none;
	}
	.whiteBox{
		background:#FFFFFF;
		z-index:1;
		padding:2px;
		box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
